body {
  margin: 0;
}

.Sign {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #6a61a5;
  width: 100vw;
  height: 100vh;
}
.Sign .signLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin-right: 10vw;
}
.Sign .signLeftSide .signInfo .userNameInfo {
  margin-bottom: 0.5em;
}
.Sign .signLeftSide .signInfo .passwordInfo {
  margin-top: 0.5em;
}
.Sign .signRightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  cursor: context-menu;
  margin-left: 10vw;
}
.Sign .signRightSide .signRightSideHeader {
  color: #ffffff;
  cursor: context-menu;
  font-size: 200px;
  margin-bottom: 0.2em;
  font-family: "Georgia";
}
.Sign .signRightSide .signRightSideBottomHeader {
  color: #ffffff;
  cursor: context-menu;
  font-size: 40px;
  font-family: "Blippo", "fantasy";
}

.Identifier {
  width: 2em;
  height: 2em;
  margin: 0.2em;
  margin-right: 0em;
  border-radius: 0.5em;
  cursor: pointer;
}

.star:hover {
  background-color: #FFF3B2;
}

.approve:hover {
  background-color: #9FE6A0;
}

.cancel:hover {
  background-color: #D54C4C;
}

.sstarred {
  background-color: #FFF76A;
}

.aapproved {
  background-color: #9EDE73;
}

.ccancelled {
  background-color: #CD113B;
}

.identityImage {
  position: relative;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}

:root {
  --mousex: 0px;
  --mousey: 0px;
}

.Image {
  margin-right: 50px;
  width: 900px;
  height: 900px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: zoom-in;
}
.Image .ImageResource {
  margin: 0px;
  width: 900px;
  height: 900px;
  object-fit: contain;
}

.Image:hover {
  display: block;
}
.Image:hover .ImageResource {
  margin: 0px;
  width: 2700px;
  height: 2700px;
  object-fit: contain;
  transform: translate(var(--mousex), var(--mousey));
}

.Left {
  transform: rotate(90deg);
}

.Right {
  transform: rotate(270deg);
}

.Up {
  transform: rotate(0deg);
}

.Down {
  transform: rotate(180deg);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .LabelOperation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .LabelOperation .ChooseButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home .LabelOperation .ChooseButtons .CategoryOperation {
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .LabelOperation .ChooseButtons .ClassOperation {
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .LabelOperation .SubmitOperation {
  transform: translate(0px, 2em);
}

.home .upperPart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home .upperPart .wordList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  align-self: center;
}
.home .upperPart .wordList .Word {
  width: 280px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.home .upperPart .wordList .Word .upperWord {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home .upperPart .wordList .Word .upperWord .wordIdentifiers {
  display: flex;
  flex-direction: row;
}
.home .upperPart .wordList .Word .lowerWord .wordInput {
  height: 2em;
  width: 270px;
  border-radius: 0.5em;
}
.home .upperPart .wordList .Word .lowerWord .wordInput:focus {
  border-color: red;
}

.endSpace {
  height: 5em;
  width: 3em;
}

.buttonSpace {
  height: 2em;
}

.Button {
  border-style: groove;
  border-width: 2px;
  margin: 0.2em;
  width: 10em;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

/*# sourceMappingURL=base.css.map */
